:root {
  --font-family: "Manrope", sans-serif;
}

.relic {
  font-size: 100px;
  cursor: default;
}

.relic-desc {
  margin-top: -40px;
  font-size: 35px;
  cursor: default;
}

.default {
  text-align: center;
  cursor: default;
  user-select: none;
}

body {
  margin: 150px;
  overflow: hidden;
  font-family: var(--font-family);
}

.gsc-results-wrapper-overlay,
.gsc-input, .gsc-selected-option,
.gsq_a {
  font-family: var(--font-family);
  font-weight: normal;
}

@media only screen and (max-width: 850px) {
  body {
    margin: 50px;
  }

  .relic-desc {
    margin-top: -50px;
    font-size: 25px;
  }
}